body {
  font-family: "Cabin", sans-serif;
  background-size: 100vh;
  background-image: url("./img/alexander-grey-62vi3TG5EDg-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: aliceblue;
  height: 100vh;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #595757;
}
html {
  scroll-behavior: smooth;
}
.main-content {
  display: grid;
}
.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

a {
  text-decoration: none;
}
header {
  border-bottom: 1px solid #e2e8f0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 10vh;
}
nav {
  display: grid;
  grid-template-areas: "a a a a .logo-img-container";
  grid-template-columns: repeat(8, 1fr);
}

#logo-img {
  height: 20vh;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 22px;
}

.nav-link:hover {
  color: #a75ea8;
}

a {
  text-decoration: none;
  padding: 20px;
}
.video-section {
  background: #e6c7e3;
}
.project-link:hover {
  color: rgb(224, 180, 227), 255;
  background-color: transparent;
  text-decoration: none;
}
.project-link:visited {
  color: #7d477e !important;
  background-color: transparent;
  text-decoration: none;
}
.project-link:active {
  color: rgb(238, 0, 255);
  background-color: transparent;
}
.project-text {
  padding: 10px;
}
#profile-img {
  height: 30vh;
  justify-self: center;
  display: flex;
  border-radius: 40px;
  padding: 30px;
}

.about-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 50px;
}
h1 {
  padding: 30px;
  color: #595757;
  font-size: xx-large;
}

h2 {
  padding: 30px;
  color: #595757;
  font-size: xx-large;

}
.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
}

p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  color: #595757;
  padding: 20px;
}
section {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.video-section {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#projects {
  background: #e6c7e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0px;

}
.project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  grid-auto-columns: 1fr;
  gap: 50px;

}
.project {
  border: 2px solid #a75ea8;
  border-radius: 20px;
  padding: 20px;
  background-color: #e6c7e3;
  display: flex;
  flex-direction: column;
  color: #a75ea8;
}
.project a {
  margin-top: auto;
  border-radius: 20px;
  cursor: pointer;
}

.project a:hover {
  color: #a75ea8 !important;
  transition: all 0.3s ease-in-out;
}

.project-img {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

ul li {
  font-size: 20px;
}
.education-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  justify-content: center;
}
.education-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.all-education-container {
  padding: 20px;
}
.institution-container {
  display: flex; 
  flex-direction: column;
}
.education {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-logo {
  width: 20%;
}

footer {
  display: flex;
}

.technologies-section {
  display: flex;
  flex-direction: column;
  grid-template-rows: 0.3fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}

  .technologies-images {
    display: flex;
   justify-items: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.tech-logo {
  width: auto;
  height: 10vh;
}

#footer {
  height: 8vh;
  background: #e6c7e3;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .project {
    width: 80%;
  }
  .project-grid-container {
padding: 0;
  }
  .about-container p {
    padding: 15px;
  }
  .about-container {
    flex-direction: column;
  }
  .education-container {
    min-width: 40%;
    margin: 0 auto;
  }
  #profile-img {
    width: 50%;
    height: auto;
  }
.img-container{
  display: flex;
  justify-content: center;
}
  video {
    display: none;
  }
  .technologies-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #e6c7e3;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-clip: border-box;
    height: 100%;
    justify-content: flex-start;
    opacity: 0.9;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 0;
    border-bottom: 1px solid #a75ea8;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    opacity: 1 !important;
  }
  .nav-menu::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #footer {
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 468px) and (min-width: 280px)  {
  .project-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .education-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 468px) and (min-width: 415px) {
  .education-container {
    display: flex; 
    flex-direction: column;
  }}

  @media only screen and (max-width: 1074px) and (min-width: 815px) {
    .education-section {
      display: flex;
align-items: center;
    }
  }
  @media only screen and (max-width: 815px) and (min-width: 768px) {
    .project-grid-container {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    
  }